<a href="https://colab.research.google.com/github/UWrvieta/CourseraCloud/blob/main/Copia_de_Reto_M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Uriel Alan Wrvieta Miranda**

# Crear 4 DataFrames en pandas, cada uno para cargar el contenido de los diferentes archivos.

In [ ]:
from os import path
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')
path= '/content/drive/MyDrive/DataS/M3/'
empl_inf1=pd.read_csv(path + 'Train.csv')
empl_inf2=pd.read_csv(path + 'Test.csv')
Hw_inf1=pd.read_csv(path + 'Train2.csv')
Hw_inf2=pd.read_csv(path + 'Test2.csv')
print(empl_inf1.info())
print(empl_inf2.info())
print(Hw_inf1.info())
print(Hw_inf2.info())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                7000 non-null   object
 1   Gender                     7000 non-null   object
 2   Age                        6588 non-null   float64
 3   Education_Level            7000 non-null   int64
 4   Relationship_Status        7000 non-null   object
 5   Hometown                   7000 non-null   object
 6   Unit                       7000 non-null   object
 7   Decision_skill_possess     7000 non-null   object
 8   Time_of_service            6856 non-null   float64
 9   Time_since_promotion       7000 non-null   int64
 10  growth_rate                7000 non-null   int64
 11  Travel_Rate                7000 non-null   int64
 12  Post_Level                 7000 non-null   int64
 13  Pay_Scale                  6991 non-null   float64
 14  Compensation_and_Benefits  7000 non-null   object
 15  Work_Life_balance          6989 non-null   float64
 16  VAR1                       7000 non-null   int64
 17  VAR2                       6423 non-null   float64
 18  VAR3                       7000 non-null   float64
 19  VAR4                       6344 non-null   float64
 20  VAR5                       7000 non-null   int64
 21  VAR6                       7000 non-null   int64
 22  VAR7                       7000 non-null   int64
 23  Attrition_rate             7000 non-null   float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                3000 non-null   object
 1   Gender                     3000 non-null   object
 2   Age                        2839 non-null   float64
 3   Education_Level            3000 non-null   int64
 4   Relationship_Status        3000 non-null   object
 5   Hometown                   3000 non-null   object
 6   Unit                       3000 non-null   object
 7   Decision_skill_possess     3000 non-null   object
 8   Time_of_service            2948 non-null   float64
 9   Time_since_promotion       3000 non-null   int64
 10  growth_rate                3000 non-null   int64
 11  Travel_Rate                3000 non-null   int64
 12  Post_Level                 3000 non-null   int64
 13  Pay_Scale                  2997 non-null   float64
 14  Compensation_and_Benefits  3000 non-null   object
 15  Work_Life_balance          2995 non-null   float64
 16  VAR1                       3000 non-null   int64
 17  VAR2                       2783 non-null   float64
 18  VAR3                       3000 non-null   float64
 19  VAR4                       2702 non-null   float64
 20  VAR5                       3000 non-null   int64
 21  VAR6                       3000 non-null   int64
 22  VAR7                       3000 non-null   int64
dtypes: float64(7), int64(9), object(7)
memory usage: 539.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_ID           7000 non-null   object
 1    Computer_OS          6883 non-null   object
 2    Computer_OS_version  6741 non-null   object
 3    Computer_tickets     7000 non-null   int64
 4    Mobile_OS            6800 non-null   object
 5    Mobile_OS_version    6780 non-null   float64
 6    Mobile_tickets       7000 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 382.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee_ID           3000 non-null   object
 1    Computer_OS          2959 non-null   object
 2    Computer_OS_version  2899 non-null   object
 3    Computer_tickets     3000 non-null   int64
 4    Mobile_OS            2913 non-null   object
 5    Mobile_OS_version    2901 non-null   float64
 6    Mobile_tickets       3000 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 164.2+ KB
None

# Conjuntar de manera correcta la información, de tal forma que queden todos los registros juntos en un solo DataFrame que contenga todas las columnas necesarias

In [ ]:
tbl = [Hw_inf1,Hw_inf2]
df1 = pd.concat(tbl)
tbl2 = [empl_inf1,empl_inf2]
df2 = pd.concat(tbl2)
fTbl = pd.merge(df1,df2,on='Employee_ID',how='outer')
#fTbl = tbl.merge(tbl2,how = 'outer')
fTbl.to_excel(path + 'Fulltable.xlsx')

# Para todos los registros que no tienen un valor para un sistema operativo, ya sea de su computadora o de su dispositivo móvil, asignar el valor “no registrado"

In [ ]:
fTbl[' Computer_OS'].fillna('no registrado', inplace = True)
fTbl[' Mobile_OS'].fillna('no registrado', inplace = True)
print(fTbl[[' Computer_OS',' Mobile_OS']])
fTbl.to_excel(path + 'Fulltable.xlsx')

      Computer_OS  Mobile_OS
0         Windows    Android
1         Windows    Android
2         Windows    Android
3         Windows    Android
4         Windows    Android
...           ...        ...
9995      Windows    Android
9996      Windows    Android
9997      Windows    Android
9998      Windows        iOS
9999      Windows    Android

[10000 rows x 2 columns]

# El porcentaje de personas que usan Windows / Mac / Linux / no registrado como su sistema operativo en su computadora

In [ ]:
Total=fTbl[[' Computer_OS']].count()
count_W=fTbl[' Computer_OS'][fTbl[' Computer_OS'] == 'Windows'].count()
count_M=fTbl[' Computer_OS'][fTbl[' Computer_OS'] == 'MacOS'].count()
count_L=fTbl[' Computer_OS'][fTbl[' Computer_OS'] == 'Linux'].count()
count_N=fTbl[' Computer_OS'][fTbl[' Computer_OS'] == 'no registrado'].count()
df1 = pd.DataFrame(
     {
         "OS": ["Windows", "MAC OS", "LINUX", "no registrado"],
         "Quantity of users": [count_W,count_M, count_L, count_N],
         "percentage": [str(float((count_W*100)/Total))+'%',str(float((count_M*100)/Total))+'%',str(float((count_L*100)/Total))+'%',str(float((count_N*100)/Total))+'%'],
     },
)
df1.to_excel(path + 'Percentage_OS.xlsx')
print('Usuarios que usan Windows',df1.iloc[0]['percentage'])
print('Usuarios que usan MacOS',df1.iloc[1]['percentage'])
print('Usuarios que usan Linux',df1.iloc[2]['percentage'])
print('Usuarios que no no registraron su sistema operativo',df1.iloc[3]['percentage'])

Usuarios que usan Windows 77.28%
Usuarios que usan MacOS 16.34%
Usuarios que usan Linux 4.8%
Usuarios que no no registraron su sistema operativo 1.58%

# El porcentaje de personas que usan iOS / Android / No registrado como su sistema operativo en su dispositivo móvil

In [ ]:
count_A=fTbl[' Mobile_OS'][fTbl[' Mobile_OS'] == 'Android'].count()
count_OS=fTbl[' Mobile_OS'][fTbl[' Mobile_OS'] == 'iOS'].count()
count_N=fTbl[' Mobile_OS'][fTbl[' Mobile_OS'] == 'no registrado'].count()
df2 = pd.DataFrame(
     {
         "OS": ["Android", "iOS", "no registrado"],
         "Quantity of users": [count_A,count_OS, count_N],
         "percentage": [str(float((count_A*100)/Total))+'%',str(float((count_OS*100)/Total))+'%',str(float((count_N*100)/Total))+'%'],
     },
)
df2.to_excel(path + 'Percentage_MOVILE.xlsx')
print('Usuarios que usan Android',df2.iloc[0]['percentage'])
print('Usuarios que usan iOS',df2.iloc[1]['percentage'])
print('Usuarios que no registraron su sistema movil',df2.iloc[2]['percentage'])

Usuarios que usan Android 76.59%
Usuarios que usan iOS 20.54%
Usuarios que no registraron su sistema movil 2.87%

# La edad promedio de la gente que utiliza cada sistema operativo de escritorio

In [ ]:
df3 = pd.DataFrame(
     {
         "OS": ["Windows", "MAC OS", "LINUX", "no registrado"],
         "MEAN AGE of users": [fTbl['Age'][fTbl[' Computer_OS'] == 'Windows'].mean(),fTbl['Age'][fTbl[' Computer_OS'] == 'MacOS'].mean(),
                               fTbl['Age'][fTbl[' Computer_OS'] == 'Linux'].mean(), fTbl['Age'][fTbl[' Computer_OS'] == 'no registrado'].mean()]
     },
)
df3.to_excel(path + 'mean_age_OS.xlsx')
print('La edad promedio que usan windows',df3.iloc[0]['MEAN AGE of users'])
print('La edad promedio que usan Mac OS',df3.iloc[1]['MEAN AGE of users'])
print('La edad promedio que usan Linux',df3.iloc[2]['MEAN AGE of users'])
print('La edad promedio que no registraron su sistema operativo',df3.iloc[3]['MEAN AGE of users'])

la edad promedio que usan windows 39.45744096650192
la edad promedio que usan Mac OS 40.396250808015516
la edad promedio que usan Linux 40.45190156599553
la edad promedio que no registraron su sistema operativo 40.52348993288591

# El nivel educativo promedio de la gente que utiliza cada sistema operativo de escritorio

In [ ]:
df4 = pd.DataFrame(
     {
         "OS": ["Windows", "MAC OS", "LINUX", "no registrado"],
         "MEAN Education_Level ": [fTbl['Education_Level'][fTbl[' Computer_OS'] == 'Windows'].mean(),fTbl['Education_Level'][fTbl[' Computer_OS'] == 'MacOS'].mean(),
                                   fTbl['Education_Level'][fTbl[' Computer_OS'] == 'Linux'].mean(),fTbl['Education_Level'][fTbl[' Computer_OS'] == 'no registrado'].mean()]
     },
)
df4.to_excel(path + 'mean_education_OS.xlsx')
print('Nivel educativo promedio que usan windows',df4.iloc[0]['MEAN Education_Level '])
print('Nivel educativo promedio que usan Mac OS',df4.iloc[1]['MEAN Education_Level '])
print('Nivel educativo promedio que usan Linux',df4.iloc[2]['MEAN Education_Level '])
print('Nivel educativo promedio que no registraron su sistema operativo',df4.iloc[3]['MEAN Education_Level '])

Nivel educativo promedio que usan windows 3.2036749482401654
Nivel educativo promedio que usan Mac OS 3.168298653610771
Nivel educativo promedio que usan Linux 3.24375
Nivel educativo promedio que no registraron su sistema operativo 3.1772151898734178

# El número total de tickets generados por la gente con cada sistema operativo de escritorio

In [ ]:
df5 = pd.DataFrame(
     {
         "OS": ["Windows", "MAC OS", "LINUX", "no registrado"],
         "Quantity of tickets": [sum(fTbl[' Computer_tickets'][fTbl[' Computer_OS'] == 'Windows']),sum(fTbl[' Computer_tickets'][fTbl[' Computer_OS'] == 'MacOS']),
                                  sum(fTbl[' Computer_tickets'][fTbl[' Computer_OS'] == 'Linux']),sum(fTbl[' Computer_tickets'][fTbl[' Computer_OS'] == 'no registrado'])]
     },
)
df5.to_excel(path + 'Quantity_Tickets_OS.xlsx')
print('Numero de tickets creados por usuarios que usan windows',df5.iloc[0]['Quantity of tickets'])
print('Numero de tickets creados por usuarios que usan Mac OS',df5.iloc[0]['Quantity of tickets'])
print('Numero de tickets creados por usuarios que usan Linux',df5.iloc[0]['Quantity of tickets'])
print('Numero de tickets creados por usuarios que no registraron su sistema operativo',df5.iloc[0]['Quantity of tickets'])

Numero de tickets creados por usuarios que usan windows 21169
Numero de tickets creados por usuarios que usan Mac OS 21169
Numero de tickets creados por usuarios que usan Linux 21169
Numero de tickets creados por usuarios que no registraron su sistema operativo 21169